<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.darshangroups.ganeshdarshan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Categories.HomeGanesha.Adapter.HomeGaneshaVollyInit"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">

        <activity android:name=".Intros.SplashActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Intros.IntroActivity" android:label="Intro" tools:ignore="InnerclassSeparator"/>

        <activity android:name=".HomeActivity" android:configChanges="orientation" android:screenOrientation="portrait" android:label="@string/title_activity_welcome"/>

        <activity
            android:name=".Categories.SarvajanikGaneshaOldPackage.SarvajanikGaneshaActivity"
            android:label="Sarvajanik Ganapati"
            android:theme="@style/AppThemeBar"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".Categories.GaneshaPreparation.GaneshaPreparationActivity" android:theme="@style/AppThemeBar" android:label="Preparation for Ganapati" tools:ignore="InnerclassSeparator" />

        <activity android:name=".Categories.HomeGanesha.Details.HomeGaneshaSwipeActivity" android:label="Home Ganesha Images" tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Categories.GaneshaPreparation.Details.GaneshaPreparationSwipeActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Categories.SarvajanikGaneshaOldPackage.Details.SarvajanikGaneshaImageFragment"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".Categories.HomeGanesha.HomeGaneshaActivity"
            android:label="@string/toolbar_title"
            android:theme="@style/AppThemeBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Angol.AngolActivity"
            android:label="Angol Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Angol.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.AutoNagar.AutoNagarActivity"
            android:label="Auto Nagar Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.AutoNagar.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Bogarves.BogarvesActivity"
            android:label="Bogarves Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Bogarves.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Camp.CampActivity"
            android:label="Camp Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Camp.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Chennamma.ChennammaActivity"
            android:label="Chennamma Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Chennamma.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.FortRoad.FortRoadActivity"
            android:label="Fort Road Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.FortRoad.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Hindalga.HindalgaActivity"
            android:label="Hindalga Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Hindalga.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Honaga.HonagaActivity"
            android:label="Honaga Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Honaga.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Kangrali.KangraliActivity"
            android:label="Kangrali Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Kangrali.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Khanapur.KhanapurActivity"
            android:label="Khanapur Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Khanapur.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.NehruNagar.NehruNagarActivity"
            android:label="Nehru Nagar Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.NehruNagar.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Shahapur.ShahapurActivity"
            android:label="Shahapur Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Shahapur.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Tilakwadi.TilakwadiActivity"
            android:label="Tilakwadi Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Tilakwadi.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.Areas.Vadagaon.VadagaonActivity"
            android:label="Vadagaon Ganapati's"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".Categories.SarvajanikGanapati.Areas.Vadagaon.Details.SwipeActivity" />

        <activity
            android:name=".Categories.SarvajanikGanapati.SarvajanikGanapatiActivity"
            android:label="Sarvajanik Ganapati"
            android:theme="@style/AppThemeBar" />
        <activity android:name=".ImageUploadActivity" />
        <activity android:name=".Categories.UploadImage.UploadImageActivity" />
        <activity android:name=".Categories.UploadImage.upload_test" />
    </application>
</manifest>